<article>
  <div class="card hoverable">
    <div class="card-content">
      <span class="card-subtitle"><%=date(page.date)%></span>
      <h1><%=page.title%></h1>
      <%-page.content%>
   </div>
  </div>
</article>
<style>
@media only screen and (max-width: 992px){
	.container{
		width:100% !important;
	}
}
header{
	height:40vh;
	margin-bottom: calc(100px - 40vh);
}
</style>
<link rel="stylesheet" href="/css/highlight/tomorrow.css">
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>