.card{
	background: rgba(255,255,255,0.8);
	margin-bottom: 50px;
	border-radius: 6px !important;
	overflow: hidden;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}.card-subtitle {
    display: block;
    margin: -5px 0px;
    font-size: 0.8rem;
}
.card .card-action{
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card-image{
	border-radius:6px 6px 0 0 !important;
}
.card-action .right-align a {
	color: #ee6e73 !important;
}
.card h3{
	margin: 5px 0;
	font-size:2rem;
}
article .card hr{
	margin:25px 0 70px 0;
}
.card-title{
	text-shadow: 1px 1px 8px #222;
}
.card-subtitle {
	display: block;
	margin: -5px 0px;
	font-size: 0.8rem;
}
.card a {
	color: #ee6e73;
}
.card-action {
	background: transparent !important;
}
.card-action .clsfi a{
	margin:0 !important;
	color: #888 !important;
	text-transform:none !important;
}
.card h4{
	font-size:24px;
}
.card>.card-content>p>p{
	text-indent: 30px;
}
@media only screen and (max-width: 992px){

	.card-image>.material-placeholder>img{
		min-height: 200px;
		margin-top:0px !important;
	}
  .card {
  	margin-bottom: 30px;
  	background: #fff;
  }
  .card h3{
  	font-size: 1.7rem;
  }
}





























/****************************
		ICONS
*************/

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/MaterialIcons/MaterialIcons-Regular.eot); 
	src: local('Material Icons'), 
	local('MaterialIcons-Regular'), 
	url(/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'), 
	url(/fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'), 
	url(/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/OpenSans-Light.ttf); 
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/OpenSans-Regular.ttf); 
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; 
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
.material-icons.md-12 {
	font-size: 12px !important;
}
.material-icons.md-16 {
	vertical-align: text-bottom;
	font-size: 16px !important;
}