<%
var categoriesList = list_categories({class: 'waves-effect waves-red collect',style: 'none',separator:''}),
    tagsList = list_tags({separator:'',style: 'none'}),
    archivesList = list_archives({class: 'waves-effect waves-red collect',style: 'none',separator:''});
%>
<div id="intro" class="waves-effect waves-light card hoverable" onclick="location.href='/'">
  <div class="card-image">
    <img src="/img/logo.png">
  </div>
  <div class="card-content">
    <p>
    <h1>djytw</h1>
    <h2>世界中の哀しみ抱いても</h2>
    <hr>
    Soochow University Microelectronics science and engineering.
    </p>
    <br/>
    <p> <small> <i class="material-icons md-16 grey-text">place</i>
      <span class="grey-text"><a>Taiyuan, China.</a></span>
      <br>
      <i class="material-icons md-16 grey-text">email</i>
      <span class="grey-text"><a href="mailto:djytw@live.com">djytw@live.com</a></span>
      <br>
      <i class="material-icons md-16 grey-text">code</i>
      <span class="grey-text"><a href="https://github.com/djytw">https://github.com/djytw</a></span>
      <br>
      </small> </p>
  </div>
</div>
<div id="tags" class="card hoverable">
  <div class="card-content">
    <ul id="tag-swipe" class="tabs tabs-fixed-width">
      <li class="tab col s3"><a class="waves-effect active" href="#tag-tags">tags</a></li>
      <li class="tab col s3"><a class="waves-effect " href="#tag-cata">Categories</a></li>
    </ul>
    <div id="tag-tags" class="col s12">
        <%-tagsList%>
    </div>
    <div id="tag-cata" class="col s12">
      <div class="collect">
        <%-categoriesList%>
      </div>
    </div>
  </div>
</div>
<div id="git" class="card hoverable">
  <div class="card-content">
    <img style="z-index:-1;" src="/img/git.svg" />
    <ul id="git-swipe" class="tabs tabs-fixed-width">
      <li class="tab col s3"><a class="waves-effect active" href="#git-repos">Repos</a></li>
      <li class="tab col s3"><a class="waves-effect" href="#git-event">Event</a></li>
    </ul>
    <div id="git-repos" class="col s12"></div>
    <div id="git-event" class="col s12"></div>
  </div>
</div>
<div id="archives" class="card hoverable">
  <div class="card-content">
    <ul id="archives-swipe" class="tabs tabs-fixed-width">
      <li class="tab col s3"><a class="waves-effect active" href="#archives-a">archives</a></li>
    </ul>
    <div id="archives-a" class="col s12">
      <div class="collect">
        <%-archivesList%>
      </div>
    </div>
  </div>
</div>