<%
var categoriesList = list_categories({class: 'waves-effect waves-red collect',style: 'none',separator:''}),
    tagsList = list_tags({separator:'',style: 'none'})
%>
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/img/logo.png">
      </div>
      <div class="content">
        <h4>djytw</h4>
        <i class="material-icons md-16">place</i>
        <span><a>Taiyuan, China.</a></span><br>
        <i class="material-icons md-16">email</i>
        <span><a href="mailto:djytw@live.com">djytw@live.com</a></span><br>
        <i class="material-icons md-16">code</i>
        <span><a href="https://github.com/djytw">https://github.com/djytw</a></span>
      </div>
    </div>
  </li>
  <li><a href="/"><i class="material-icons">home</i>Home</a></li>
  <li><a href="/archives"><i class="material-icons">archive</i>Archives</a></li>
  <li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Tags<i class="material-icons">local_offer</i><i class="material-icons right">expand_more</i></a>
        <div class="collapsible-body">
          <div id="tag-tags-m">
            <%-tagsList%>
          </div>
        </div>
      </li>
    </ul>
  </li>
  <li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Categories<i class="material-icons">list</i><i class="material-icons right">expand_more</i></a>
        <div class="collapsible-body">
          <ul class="collect">
            <%-categoriesList%>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>